.footer {
  background: #000;
}

.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 120px;
  position: relative;
  align-items: center;
}

.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #cccccc;
  text-align: justify;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    -ms-hyphenate-limit-zone: 8%;
}

.footer-contato li {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.1;
  color: #fff;
  margin-bottom: 30px;
}

.footer-copy {
  grid-column: 1/-1;
  font-size: 1.25rem;
  color: #8f8f8f;
  justify-self: center;
}

.footer-contato li a {
  text-decoration: none;
  color: #fff;
}

.footer-contato li a:hover {
  color: #cfcfcf;
}
@media (max-width:800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

 .footer-contato li, a {
     font-size: 1.5rem;
  } 
}

@media (max-width:500px) {
  .footer-container {
  align-content: initial; 
  padding: 60px 20px 30px 20px;
  }

  .footer-texto {
    font-size: 1.3rem;

  }

  .footer-contato {
     font-size: 1.0rem;
    

  }


}

@media (max-width:500px) {
  .footer-texto {
    font-size: 1.2rem;

  }
  .footer-contato {
    font-size: 0.900rem;
    word-break: break-all;
 }
}
